# Files to copy to the container
/conf.d/*
!/conf.d/.gitkeep
/html/*
!/html/.gitkeep
/templates/prod/*
!/templates/prod/default.conf.template.for.copy
!/templates/prod/http-to-https-template.for.copy
!/templates/prod/https-template.for.copy

# Environment file
.env.local

# Misc
.DS_Store

# IDE
.idea/
.vscode/
