# Files to copy to the container
/html/*
!/html/this_is_placeholder
/templates/prod/*
!/templates/prod/default.conf.template.for.copy
!/templates/prod/http-to-https-template.for.copy
!/templates/prod/https-template.for.copy
/conf.d/*
!/conf.d/this_is_placeholder

# Environment file
.env.local

# Misc
.DS_Store

# IDE
.idea/
.vscode/
