# Files to copy to the container
/html/*
!/html/this_is_placeholder
/conf.d/prod/*
!/conf.d/prod/http-to-https-template.for.copy
!/conf.d/prod/https-template.for.copy

# Environment file
.env.local

# Misc
.DS_Store

# IDE
.idea/
.vscode/
